<% if results.present? %>
	<center>
			<h2>Search results <%= "(#{results[:total_count]})" %></h2>
	</center>
	<br/>
	<% if results[:total_count].to_i == 0 %>
		<center>
				<h2>Nothing found</h2>
		</center>
	<% else %>
		<% results[:items].each do |item| %>
			<%= render partial: 'search_item', locals: { item: item } %>
			<hr/>
		<% end %>
	<% end %>
<% end %>
