<div class="conteiner-fluid">
	<div class="col logo">
		<h1>Github Finder</h1>
	</div>
	<div class="col search-form">
		<form name="search" action="/">
			<input type="text" name="repo_name" value="Project name..." id="query" />
			<input type="submit" value="Search" class="btn btn-large info" id="search-button" />
		</form>
	</div>
	<div class="col search-results">
		<%= render partial: 'search', locals: { results: @results } %>
	</div>
	<div class="col navigation">
		<%= raw pagination(@results, @repo_name, @per_page, @page) %>
	</div>
</div>
