<div class="conteiner-fluid">
	<div class="col logo">
		<h1>GITHUB FINDER</h1>
	</div>
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6 search-form">
			<form name="search" action="/">
				<input type="text" name="repo_name" value="Project name..." id="query" onfocus="if(this.value == 'Project name...') { this.value = ''; }" value="value" />
				<input type="submit" value="Search" class="btn btn-lg btn-primary" id="search-button" />
			</form>
		</div>
		<div class="col-3"></div>
	</div>
	<div class="col search-results">
		<%= render partial: 'search', locals: { results: @results } %>
	</div>
	<div class="col navigation">
		
	</div>
</div>
<footer class="footer">
  <div class="container navigation">
    <%= raw pagination(@results, @repo_name, @per_page, @page) %>
	</div>
</footer>
